name: Test

on:
  workflow_dispatch:
  pull_request:

jobs:
  test:
    name: Test on Java ${{ matrix.java-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java-version: [11, 17]

    steps:
      # This is needed to enable hardware acceleration
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: ${{ matrix.java-version }}
          cache: gradle

      - name: Test
        id: unit-test
        run: ./gradlew test

      - name: Run Integration test
        if: matrix.java-version == '17'
        id: integration-test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 33
          arch: x86_64
          target: google_apis
          script: ./gradlew integrationTest

      - name: Upload Maestro integration debug artifacts
        uses: actions/upload-artifact@v4
        if: steps.integration-test.outcome == 'failure'
        with:
          name: maestro-root-dir-android
          path: ~/.maestro
          retention-days: 1
          include-hidden-files: true

      - name: Upload test report
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: maestro-test-report
          path: ./maestro-test/build/reports/tests/test/index.html
          retention-days: 1
          include-hidden-files: true


  validate-gradle-wrapper:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v3
